USE [master]
GO
/****** Object:  Database [CMS_DB]    Script Date: 2022/10/17 17:03:15 ******/
CREATE DATABASE [CMS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CMS_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CMS_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CMS_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CMS_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CMS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CMS_DB]
GO
/****** Object:  Table [dbo].[commentList]    Script Date: 2022/10/17 17:03:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[commentList](
	[comment] [varchar](50) NULL,
	[cnum] [nchar](10) NULL,
	[fk_nnum] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[news]    Script Date: 2022/10/17 17:03:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[news](
	[nnum] [nchar](10) NULL,
	[ntitle] [nvarchar](50) NULL,
	[ncontent] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
